@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.main-area {
  height: 100%;
  display: flex;
  background: green;
  flex-direction: column;
}
.game-div {
  height: 60%;
  width: 100%;
  background: rgb(127, 127, 253);
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  overflow: scroll;
}

.game-card {
  cursor: pointer;
  border: 3px solid silver;
  height: 20em;
  width: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(rgb(209, 118, 118), rgb(235, 235, 238));
  box-shadow: 1px 2px 1px 2px black;
  margin: 12px;
}
.game-card > h1 {
  font-size: 1.09rem;
}

.game-card img {
  width: 8em;
  height: auto;
}
.game-form-div {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.game-form {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.game-form > input {
  padding: 10px;
  margin: 5px;
}

.game-form > input[type="submit"] {
  background-color: #4389c3;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid black;
}
.game-form > select {
  padding: 10px;
  appearance: none;
}
.game-form > select:after {
  padding: 10px;
  appearance: none;
  background: blue;
}
.game-form > * {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
}
.fly-out {
  background: rgba(255, 255, 255, 0.767);
  border: 1px solid black;
  height: 70%;
  width: 60%;
  position: fixed;
  left: 18%;
  top: 15%;
  z-index: 2;
  display: flex;
}
.info-area {
  display: flex;
  flex-direction: column;
  width: 155%;
  height: 100%;
  border: 1px solid black;
}
.displaying-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displaying-area > * {
  margin-top: 2rem;
}
.grey-out {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(134, 134, 134, 0.555);
  filter: blur(20px);
  z-index: 1;
}
.carousel-wrap {
  width: 60%;
  height: auto;
}

.screen-shot-form {
  display: flex;
  flex-direction: column;
}
.screen-shot-form > input {
  height: 2rem;
}
